<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.example.presentation"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="org.mybatis.spring.transaction.SpringManagedTransactionFactory" >
                <property name="transactionManager" value="transactionManager"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/presentation?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/userBalanceMapper.xml"></mapper>
        <mapper resource="mapper/userMapper.xml"></mapper>
<!--        <package name="com.example.presentation.repository"/>-->
    </mappers>
</configuration>